<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- poppins font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <!-- style css -->
  <link rel="stylesheet" href="../assets/styles/style.css">
  <link rel="stylesheet" href="../assets/styles/all.css">
  <title>koki web</title>
</head>

<body>
  <div class="bg_gradient">
  <div class="container">
  <nav class="navbar navbar-expand-lg navbar-light mb-5 pl-0 pr-0">
      <a class="navbar-brand" href="#">
        <img src="../assets/images/logo.png" width="44px" height="44px" alt="logo-fudo">
        <span>Fudo</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mx-auto">
          <li class="nav-item active mr-3">
            <a class="nav-link oranye" href="#" style="color: rgba(245, 71, 72, 1) !important;">Why Fudo?</a>
          </li>
          <li class="nav-item dropdown mr-3">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Service
              <!-- <i class="fas fa-chevron-down"></i> -->
              <img src="../assets/images/arrow-down.png" width="12px" height="12px" alt="">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropdown mr-3">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Menu
              <img src="../assets/images/arrow-down.png" width="12px" height="12px" alt="">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
        <ul class="d-flex flex-row">
          <li class="d-flex align-items-center mr-4 search_wrapper">
            <img src="../assets/images/Search.png" alt="">
          </li>
          <li class="d-flex align-items-center mr-4 bag_wrapper">
            <img src="../assets/images/bag.png" alt="img-bag" class="img_bag">
            <span id="x" class="d-flex justify-content-center align-items-center">4</span>
          </li>
          </li>
          <li>
            <button class="btn btn-lg btn_submit rounded-pill d-flex align-items-center" type="submit">
              <img src="../assets/images/Login.png" width="16px" height="16px" alt="">
              <span class="ml-1">Login</span>
            </button>
          </li>
        </ul>
      </div>
  </nav>
  <div class="main_header">
    <div class="row jumbotron_wrapper pb-5">
      <div class="col-md-6 left_wrapper">
        <div class="row mb-5">
          <div class="col-md-6">
            <div class="cherry_wrapper mt-5 rounded-pill p-2 d-flex justify-content-center align-items-center">
              <span class="mr-1">More Than Faster</span>
              <span>🍒</span>
            </div>
          </div>
        </div>
        <div class="title_jumbotron mb-5">Be The Fastest In Delivering Your <span>Food</span></div>
        <span class="desc_jumbotron">Our job is to filling your tummy with delicious food and with fast and free delivery.</span>
        <div class="btn_left_wrapper mt-5 d-flex flex-row pb-4">
          <div class="btn btn_started pl-4 pr-4 pt-3 pb-3 rounded-pill text-white mr-5">Get Started</div>
          <div class="watch_wrapper d-flex flex-row align-items-center">
            <div class="play_wrapper rounded-circle d-flex justify-content-center align-items-center shadow mr-3">
              <img src="../assets/images/play-yellow.png" alt="play_yellow">
            </div>
            <span>Watch Video</span>
          </div>
        </div>
        <div class="happy_customer_wrapper mt-5 d-flex flex-row align-items-center">
          <img src="../assets/images/happy-customer.png" alt="happy-customer">
          <div class="desc_happy_customer ml-3">
            <span class="title_happy_customer">Our Happy Customer</span>
            <div class="rating_customer_wrapper d-flex align-items-center mt-2">
              <img src="../assets/images/Star.png" alt="rating-img">
              <span class="rating_customer ml-1 mr-3">4,8</span>
              <span class="review_customer">(12.5k Review)</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 right_wrapper">
        <img src="../assets/images/img-jumbotron-right.png" width="660px" height="870px" class="img_right" alt="img-jumbotron">
        <img src="../assets/images/richard-watson.svg" class="richard_watson" alt="">
        <img src="../assets/images/italian-pizza.png" class="italian_pizza" alt="">
        <img src="../assets/images/box-yellow.png" class="box_yellow" alt="">
        <img src="../assets/images/img-arrow-jumbo.png" class="arrow_jumbo" alt="">
        <img src="../assets/images/fire.png" class="fire" alt="">
        <img src="../assets/images/circle_yellow.png" class="circle_yellow" alt="">
        <img src="../assets/images/circle_red.png" class="circle_red" alt="">
        <img src="../assets/images/circle_red.png" class="circle_red_bottom" alt="">
      </div>
    </div>
  </div>
</div>
</div>
<main>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-12">
        <span class="title_serve d-flex justify-content-center">WHAT WE SERVE</span>
      </div>
    </div>
    <div class="row">
      <div class="desc_serve_wrapper col-md-12 mt-3 mb-5">
        <span class="desc_serve d-flex justify-content-center mx-auto text-center w-50">Your Favourite Food Delivery Partner</span>
        <img src="../assets/images/dots-yellow.png" class="dots_yellow" alt="">
        <img src="../assets/images/circle_red.png" class="circle_red_serve" alt="">
      </div>
    </div>
    <div class="row mt-4 mb-5">
      <div class="col-md-4">
        <div class="easy_to_order_wrapper d-flex flex-column justify-content-center mx-auto text-center">
          <img src="../assets/images/easy-to-order.png" width="77px" height="160px" class="mx-auto" alt="">
          <span class="title_ETO mt-4">Easy To Order</span>
          <span class="desc_ETO w-75 mx-auto mt-1">You only need a few steps in ordering food.</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="easy_to_order_wrapper d-flex flex-column justify-content-center mx-auto text-center">
          <img src="../assets/images/fastest-delivery.png" width="178px" height="160px" class="mx-auto" alt="">
          <span class="title_ETO mt-4">Fastest Delivery</span>
          <span class="desc_ETO mx-auto mt-1">Delivery that is always ontime even faster.</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="easy_to_order_wrapper d-flex flex-column justify-content-center mx-auto text-center">
          <img src="../assets/images/best-quality.png" width="163px" height="160px" class="mx-auto" alt="">
          <span class="title_ETO mt-4">Best Quality</span>
          <span class="desc_ETO w-100 mx-auto mt-1">Not only fast for us quality is also number one.</span>
          <img src="../assets/images/oval-red.png" class="oval_red" alt="">
        </div>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-md-3">
        <span class="title_menu">OUR MENU</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 desc_menu_wrapper mt-2">
        <span class="desc_menu">Menu That Always Make You Fall In Love</span>
        <img src="../assets/images/circle_yellow.png" class="circle_yellow_menu" alt="">
      </div>
    </div>
  </div>
</main>




  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
  </script>
</body>

</html>